/lib/.DS_Store
/lib/node_modules
/

/lib/package-lock.json


# local env files
/lib/.env.local
/lib/.env.*.local

# Log files
/lib/npm-debug.log*
/lib/yarn-debug.log*
/lib/yarn-error.log*
/lib/pnpm-debug.log*

# Editor directories and files
/lib/.idea
/lib/.vscode
/lib/*.suo
/lib/*.ntvs*
/lib/*.njsproj
/lib/*.sln
/lib/*.sw?
